/* Thème sombre */
body.dark-theme {
  background-color: #1c1c1c;
  color: #ffffff;
}

.dark-theme h1 {
  color: #ffffff;
}

.dark-theme .container {
  background-color: #252525;
  color: #ffffff;
}

.dark-theme .graph {
  background-color: #2b2b2b;
}

/* Thème clair */
body.light-theme {
  background-color: #f0f0f0;
  color: #000000;
}

.light-theme h1 {
  color: #000000;
}

.light-theme .container {
  background-color: #ffffff;
  color: #000000;
}

.light-theme .graph {
  background-color: #f8f8f8;
}
